<!DOCTYPE html>
<html lang="en" class="zoom">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css2?family=Oleo+Script&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">


  <title>Hello!</title>

  <!-- import the webpage's stylesheet -->
  <link rel="stylesheet" href="style.css">

  <!-- import the webpage's javascript file -->

</head>

<body>
  <div class="mainsec">
    <header>  
      <div id="jumbo" class="jumbotron text-center">
      <h4 class="adminText">Admin:</h4>
  
      <a href="/login" class="btn btn-default login"><span class="fa fa-user"></span> Login</a>
      <a href="/signup" class="btn btn-default sign"><span class="fa fa-sign-in"></span> Sign Up</a>
  
    </div></header>
    <div class="outcome">
      <h1 id="value"> 20,000</h1>
      <h2 class="results"></h2>
    </div>
    <div class="board">  
      <div id="wheel"></div>
      <div id="ball"></div>
    </div>
    <section class="ui">
  <input id="name" type="text" value="" name="name" placeholder="" step="100">
  <button class="minus"><span class="minText">-</span></button>
  <button class="plus"><span class="minText">+</span></button>
  <input id="moneyBet" type="number" min='0' value="" placeholder="" name="moneyBet">
  <label for="" class="labels bets">Bets:</label>
  <label for="" class="labels name">Enter Name</label>
  <label for="" class="labels select">Select</label>
  <select name="" id="colorInput">
    <option value="red">Red</option>
    <option value="black">Black</option>
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
    <option value="6">6</option>
    <option value="7">7</option>
    <option value="8">8</option>
    <option value="9">9</option>
    <option value="10">10</option>
    <option value="11">11</option>
    <option value="12">12</option>
    <option value="13">13</option>
    <option value="14">14</option>
    <option value="15">15</option>
    <option value="16">16</option>
    <option value="17">17</option>
    <option value="18">18</option>
    <option value="19">19</option>
    <option value="20">20</option>
    <option value="21">21</option>
    <option value="22">22</option>
    <option value="23">23</option>
    <option value="24">24</option>
    <option value="25">25</option>
    <option value="26">26</option>
    <option value="27">27</option>
    <option value="28">28</option>
    <option value="29">29</option>
    <option value="30">30</option>
    <option value="31">31</option>
    <option value="32">32</option>
    <option value="33">33</option>
    <option value="34">34</option>
    <option value="35">35</option>
    <option value="36">36</option>
  </select>
  <section class="spinbuttons">
    <button type="button" name="button" class="spinButton">Spin</button>
    <a href="/">
    <button class="restart">Restart</button> </a>
  </section>

  
    </section>

</section>

</div>
  <script src="/main.js" defer></script>
</body>

</html>
